DATABASE_URL="mysql://root:1942@localhost:3306/ilfondo_db"
PORT=3000
JWT_SECRET="a911c0bf54c855afad2cbcc3b732ce79e0b9c99c1a78936fba6c568bface5e9f"
CLOUDINARY_CLOUD_NAME="u7me0qj2"
CLOUDINARY_API_KEY="368137557481366"
CLOUDINARY_API_SECRET="vuBP2dX3c-fsuTwAHBl57LovhDI"
SEED_ADMIN_PASSWORD="UM%^BMS1HMwHgwwVRHm1"
SEED_ADMIN_EMAILS="admin@ilforno.com"